<div class="cart-item">
  <img 
    class="cart-item-img" 
    [src]="product.thumbnail" 
    [alt]="product.name">
  <p class="cart-item-name">{{product.name}}</p>
  <div class="cart-item-quantity">
    {{ product.quantity }}
  </div>
  <div class="cart-item-btn-wrapper">
    <button 
      (click)="incrementClick()"
      class="btn-reset btn-hover">
        <fa name="chevron-up"></fa>
    </button>
    <button 
      (click)="decrementClick()" 
      class="btn-reset btn-hover">
        <fa name="chevron-down"></fa>
    </button>
  </div>
  <p class="cart-item-price">{{product.price }} zł</p>
</div>
