@mixin button-reset {
	.btn-reset {
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;
		transition: all 0.3s ease;
	}

	.btn-hover:hover {
		color: $hover-color;
	}
}
