/* You can add global styles to this file, and also import other style files */

@import 'src/sass/reset';
@import 'src/sass/variables';


@font-face {
    font-family: $roboto-slab-regular;
    src: url('/assets/fonts/RobotoSlab-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: $roboto-slab-bold;
    src: url('/assets/fonts/RobotoSlab-Bold.ttf') format('truetype');
  }