<button 
  class="cart-btn btn-reset btn-hover"
  (click)="toggle()">
  {{ buttonName | titlecase }} koszyk
  <span>
    <fa name="shopping-cart"></fa>
  </span>
</button>
<div 
  *ngIf="(cart$ | async) as cart"
  class="cart-content hidden"
  [ngClass]="{'visible': isShown === true}">
    <p *ngIf="cart.length === 0">Brak produktów w koszyku</p>
    <div>
      <app-item 
        *ngFor="let product of cart"
        [product]="product"
        (increment)="increment($event)"
        (decrement)="decrement($event)">
      </app-item>
    </div>
    <div class="cart-sum">
      <p>Suma:</p>
      <p class="sum-price">{{ summaryPrice$ | async }} zł</p>
    </div>
</div>
