<button 
  (click)="toggle()">
  {{ buttonName | titlecase }} koszyk
  <span>
    <fa name="shopping-cart"></fa>
  </span>
</button>
<div 
  *ngIf="(cart$ | async) as cart"
  class="hidden"
  [ngClass]="{'visible': isShown === true}">
    <p *ngIf="cart.length === 0">Brak produktów w koszyku</p>
    <div>
      <app-item 
        *ngFor="let product of cart"
        [product]="product"
        (increment)="increment($event)"
        (decrement)="decrement($event)">
      </app-item>
    </div>
    <p>Suma: {{ summaryPrice$ | async }} zł</p>
</div>
