@import 'src/sass/common-styles';
@import 'src/sass/variables';

@include button-reset;

.sort-toggle, .sort-options-btn {
	transition: all 0.2s ease;
}

.sort-wrapper {
	position: relative;
	width: 100px;
}

.sort-toggle {
	display: flex;
	cursor: pointer;
	font-size: 18px;
}

.sort-toggle:hover {
	color: $hover-color;
}

.sort-header {
	margin-right: 15px;
}

.sort-options {
	position: absolute;
	width: 100%;
}

.sort-options-btn {
	font-family: $roboto-slab-regular;
	font-size: 14px;
	padding: 0;
}

.sort-options-item:hover .sort-options-btn {
	color: $hover-color;
}

.sort-options-item {
	display: none;
}

.sort-wrapper:hover .sort-options-item {
	display: block;
}
