<div class="sort-wrapper">
  <div class="sort-toggle">
    <h5 class="sort-header">Sortuj</h5>
    <fa class="sort-chevron" name="chevron-down"></fa>
  </div>
  <ul class="sort-options">
    <li class="sort-options-item">
      <button 
        class="sort-options-btn btn-reset" 
        (click)="sortByPriceClick()">
        Cena
      </button>
    </li>
    <li class="sort-options-item">
      <button 
        class="sort-options-btn btn-reset" 
        (click)="sortByNameClick()">
        Nazwa
      </button>
    </li>
  </ul>
</div>
